body{
    background-image: url("https://marketplace.canva.com/EAEg6luijO4/1/0/1600w/canva-pink-minimalist-watercolor-motivational-desktop-wallpaper-zprjo546ewc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: cursive;
    font-size: 60px;
}
p{
font-family: fantasy;
font-size: 25px;
}
ul{
    list-style-type: none;
    font-size: 20px;
    font-style: italic;
}
h4{
    font-size: 20px;
    text-align: center;    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding: 5px;
    border-radius: 8px;
  }
